body,
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body {
  background-color: #E2F8E2;
  position: relative;
}

.main-wrap {
  height: 100%;
  position: relative;
}

.map {
    position: relative;
    height: 94%;
    margin-left: 145px;
    margin-right: 10px;
    margin-top:10px;
    max-width: 100%;
    border: 1px;
}

/*Header*/
.header{
  position: relative;
  max-width: 100%;
  height: 60px;
  margin-top: 0;
  left: 0;
  background-color: #A5E9A5;
}
.project-title{
  font-style: Arial;
  text-align: center;
}

/*Popup Window*/
.place-name {
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
}

.place-address {
  font-style: Arial;
  font-size: 14px;
  font-weight: 400;
}

.place-category {
  font-style: Arial;
  font-size: 18px;
  font-weight: 400;
}

/*Side container*/
.side-container {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 290px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.search-box {
  width: 100%;
  max-width: 250px;
  margin-top: 70px;
  margin-bottom: 5px;
  margin-left: 10px;
  height: 30px;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.list-container{
  max-width: 100%;
  margin-left: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.list-places {
  font-size: 20px;
  font-weight: 450;
}

.list-places:hover,
.list-places:active {
  color:#6C3304;
  cursor: pointer;

}

/*Location info onclick from list*/
.info-container {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #E2F8E2;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.hidden{
  display: none;
}

/* Page Responsiveness */
@media screen  and (max-width: 400px) {
	.map{
		max-width:100%;
	}
  .side-container,
  .search-box,
  .list-container{
		width: 50%;
	}
}

@media screen  and (min-width: 401px) and (max-width: 800px) {
	.map{
		max-width:100%;
	}
  .side-container,
  .search-box,
  .list-container{
		width: 70%;
	}
}

@media screen  and (min-width: 801px) {
	.map{
		max-width:100%;
	}
  .side-container,
  .search-box,
  .list-container{
		width: 100%;
	}
}

#root {
  height: 100%;
}
