body,
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body {
  background-color: #E2F8E2;
}

.header{
  position: relative;
  max-width: 100%;
  height: 60px;
  margin-top: 0;
  left: 0;
  background-color: #A5E9A5;

}

.main-wrap {
  height: 100%;
}

.map {
  height: 94%;
  margin-left: 150px;
  margin-right: 10px;
  margin-top:10px;
  max-width: 100%;
  border: 1px;
}

.project-title{
  font-style: Arial;
  text-align: center;
}

.place-name {
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
}

.place-address {
  font-style: Arial;
  font-size: 14px;
  font-weight: 400;
}

.place-category {
  font-style: Arial;
  font-size: 20px;
  font-weight: 400;
}

.side-container {
  z-index: 100;
  position: absolute;
  top: 70px;
  margin-left: 20px;
  margin-top: 10px;
  width: 280px;
  max-width: 100%;
}

.input-box {
  max-width: 100%;
  margin-bottom: 5px;
  height: 30px;
}

.list-container{
  max-width: 100%;
}

.list-places {
  font-size: 20px;
  font-weight: 400;
}

.info-container {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #eee;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 50%;
  text-align: center;
}

.hidden{
  display: none;
}

#root {
  height: 100%;
}
